.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-label {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
  .input-label {
    font-size: 18px
  }
}

.input {
  height: 50px;
  width: 250px !important;
  max-width: 80vw;
  background: #FFFFFF;
  border-radius: 50px !important;
  text-align: center;
  font-size: 30px !important;
  font-weight: bold;
  outline: none;
  border: none !important;

}

/* Remove arrows from input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}