
.title {
  color: white;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border: none;

  &-enabled {
    background: #ffff00;
    color: rgba(0, 0, 0, 0.87);

    &:hover {
      background: #d9d900;
    }

    &:active {
      background: #b3b300;
    }
  }

  &-disabled {
    background: #868686;
    color: rgba(35, 35, 35, 0.87);
  }
}
