.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1943DA;
  padding: 40px 30px;
  border-radius: 50px;
  max-width: 400px;
  min-height: 550px;
  max-height: 660px;
  height: 90vh;
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 25px 20px;
  }
}