.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background-color: white;
  margin: 20px 0;
}

@media only screen and (max-width: 600px) {
  .img-container {
    width: 180px;
    height: 180px;
    border-radius: 180px;
  }
}
