/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

@media (max-width: 900px) {
  html { font-size: 14px; }
}

@media (max-width: 400px) {
  html { font-size: 12px; }
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}